@mixin layout ($po:relative, $w:100%, $h:65%) {
    position: $po;
    width: $w;
    height: $h;
    border-radius: 3px;
}

@mixin inFlex($ali:center, $ju:center) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: $ali;
    -ms-flex-align: $ali;
    align-items: $ali;
    -webkit-box-pack: $ju;
    -ms-flex-pack: $ju;
    justify-content: $ju;
}

.echarts-title {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 8px 0 0 8px;
    box-sizing: border-box;
}

.itemLayout {
    .item-left {
        @include layout(relative, calc(25% - 4px), 100%);
        background-color: #fff;
    }
    .item-center {
        @include layout(relative, calc(50% - 8px), 100%);
        position: relative;
        background-color: #fff;
        .echarts-map-tooltip {
            position: absolute;
            top: 5px;
            right: 0;
            z-index: 1;
            .echarts-map-tooltip-item {
                min-width: 120px;
                border: 1px solid #5fb2ff;
                border-bottom: none;
                padding: 4px 6px;
                box-sizing: border-box;
                border-radius: 3px;
                background-color: #ffffff;
                cursor: pointer;
                @include inFlex(center, space-between);
                .amount {
                    color: #f7c836
                }
            }
            .echarts-map-tooltip-item:last-child {
                border-bottom: 1px solid #5fb2ff;
            }
        }
        .item-center-map {
            width: 100%;
            height: 100%;
        }
    }
    .item-right {
        @include layout(relative, calc(25% - 4px), 100%);
        background-color: #fff;
    }
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include inFlex(center, space-between);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ececec;
    .con-top {
        @include layout(relative, 100%, calc(75% - 8px));
        @include inFlex(center, space-between);
        @extend .itemLayout;
        .echarts-item {
            height: 33%;
            width: 100%;
            @include inFlex(center, space-between);
            flex-direction: column;
            background-color: #fff;
            position: relative;
            .echarts-main {
                flex: 1;
                width: 100%;
                background-color: #fff;
            }
        }
        .echarts-item-2 {
            @extend .echarts-item;
            height: 66%;
        }
    }
    .con-bottom {
        @include layout(relative, 100%, 25%);
        @include inFlex(center, space-between);
        @extend .itemLayout
    }
}